
    <div id="main">
        <div id="nav">
            <div id="logo"><img src="assets/img/abc1.png" alt="abc"></div>
            <div id="navlinks">
                <ul>
                    <li><a routerLink="/">Home</a></li>
                    <li><a routerLink="latestbooks">Latests Books</a></li>
                    <li><a routerLink="eBooks">eBooks</a></li>
                    <li><a routerLink="bookseries">Book Series</a></li>
                    <li><a routerLink="categories">Categories</a></li>
                    <li><a routerLink="top50">Top 50</a></li>
                </ul>
            </div>
            <div id="rightnav">
                <button id="log">Login</button><h1>|</h1>
                <button id="subscribe">Subscribe Now</button>
            </div>
</div>
