<section id="mark">
    <div class="slider">
        <div class="slide-track1">
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1629205163875-8f3d9a17e09e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1629205163875-8f3d9a17e09e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1629205163875-8f3d9a17e09e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1629205163875-8f3d9a17e09e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1629205163875-8f3d9a17e09e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1629205163875-8f3d9a17e09e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1629205163875-8f3d9a17e09e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1629205163875-8f3d9a17e09e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1629205163875-8f3d9a17e09e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1629205163875-8f3d9a17e09e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1629205163875-8f3d9a17e09e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1629205163875-8f3d9a17e09e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1629205163875-8f3d9a17e09e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1629205163875-8f3d9a17e09e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1629205163875-8f3d9a17e09e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1629205163875-8f3d9a17e09e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1629205163875-8f3d9a17e09e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1629205163875-8f3d9a17e09e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1629205163875-8f3d9a17e09e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1629205163875-8f3d9a17e09e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1629205163875-8f3d9a17e09e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1629205163875-8f3d9a17e09e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1629205163875-8f3d9a17e09e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1629205163875-8f3d9a17e09e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
    
        </div>

    </div>
    
    <div class="slider">
        <div class="slide-track2">
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1629205163875-8f3d9a17e09e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1629205163875-8f3d9a17e09e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1629205163875-8f3d9a17e09e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1629205163875-8f3d9a17e09e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1629205163875-8f3d9a17e09e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1629205163875-8f3d9a17e09e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1629205163875-8f3d9a17e09e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1629205163875-8f3d9a17e09e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1629205163875-8f3d9a17e09e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1629205163875-8f3d9a17e09e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1629205163875-8f3d9a17e09e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1629205163875-8f3d9a17e09e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1629205163875-8f3d9a17e09e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1629205163875-8f3d9a17e09e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1629205163875-8f3d9a17e09e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1629205163875-8f3d9a17e09e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1629205163875-8f3d9a17e09e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1629205163875-8f3d9a17e09e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1629205163875-8f3d9a17e09e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1629205163875-8f3d9a17e09e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1629205163875-8f3d9a17e09e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1629205163875-8f3d9a17e09e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1629205163875-8f3d9a17e09e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1629205163875-8f3d9a17e09e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
        </div>
    </div>
</section>
<section id="textimg">  <!--this is parent of #text & audioplayer -->>
    <div id="text">      <!--this is child 1 of textimg -->
        <h1>Audiobooks for everyone</h1>
        <p>400,000+ bestselling stories and storytel Orginals.Orices starting from Rs 149/ month. Cancel anytime</p>
        <button id="tsub">Subscribe</button>
    </div>
    <div id="auplayer">   <!--this is child 2 of textimg -->
        <div id="player">
            <div id="imgbox">
                <img src="https://images.unsplash.com/photo-1601513445506-2ab0d4fb4229?q=80&w=1587&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
            </div>
            <div>
                <audio src="assets/audio/ek kahani aisi bhi.mp3" type="audio/mp3" controls></audio>
            </div>
        </div>
    </div>
</section>