<section id="mark">
    <div class="slider">
        <div class="slide-track1">
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1629205163875-8f3d9a17e09e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1629205163875-8f3d9a17e09e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1629205163875-8f3d9a17e09e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1629205163875-8f3d9a17e09e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1629205163875-8f3d9a17e09e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1629205163875-8f3d9a17e09e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1629205163875-8f3d9a17e09e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1629205163875-8f3d9a17e09e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1629205163875-8f3d9a17e09e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1588131153911-a4ea5189fe19?q=80&w=1481&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1629205163875-8f3d9a17e09e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1588131153911-a4ea5189fe19?q=80&w=1481&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1629205163875-8f3d9a17e09e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1588131153911-a4ea5189fe19?q=80&w=1481&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1588131153911-a4ea5189fe19?q=80&w=1481&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1629205163875-8f3d9a17e09e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1629205163875-8f3d9a17e09e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1629205163875-8f3d9a17e09e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1629205163875-8f3d9a17e09e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1629205163875-8f3d9a17e09e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1629205163875-8f3d9a17e09e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1629205163875-8f3d9a17e09e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1629205163875-8f3d9a17e09e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1629205163875-8f3d9a17e09e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
    
        </div>

    </div>
    
    <div class="slider">
        <div class="slide-track2">
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1588131153911-a4ea5189fe19?q=80&w=1481&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1588131153911-a4ea5189fe19?q=80&w=1481&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1588131153911-a4ea5189fe19?q=80&w=1481&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1588131153911-a4ea5189fe19?q=80&w=1481&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1588131153911-a4ea5189fe19?q=80&w=1481&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1588131153911-a4ea5189fe19?q=80&w=1481&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1629205163875-8f3d9a17e09e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1629205163875-8f3d9a17e09e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1629205163875-8f3d9a17e09e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1629205163875-8f3d9a17e09e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1629205163875-8f3d9a17e09e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1629205163875-8f3d9a17e09e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1629205163875-8f3d9a17e09e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1629205163875-8f3d9a17e09e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1629205163875-8f3d9a17e09e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1629205163875-8f3d9a17e09e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1629205163875-8f3d9a17e09e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1629205163875-8f3d9a17e09e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1629205163875-8f3d9a17e09e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1629205163875-8f3d9a17e09e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1629205163875-8f3d9a17e09e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1629205163875-8f3d9a17e09e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1629205163875-8f3d9a17e09e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
            <div class="slide">
                <a href="https://www.storytel.com/in">
                    <img src="https://images.unsplash.com/photo-1629205163875-8f3d9a17e09e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                </a>
            </div>
        </div>
    </div>
</section>  <!--Section 1 End-->

<section id="textimg"> > <!--this is parent of #text & audioplayer -->>     <!--Section 2 Start here-->
    <div id="text">      <!--this is child 1 of textimg -->
        <h1>Audiobooks for everyone</h1>
        <p>400,000+ bestselling stories and storytel Orginals.Orices starting from Rs 149/ month. Cancel anytime</p>
        <button id="tsub">Subscribe</button>
    </div>
    <div id="auplayer">   <!--this is child 2 of textimg -->
        <div id="player">
            <div id="imgbox">
                <img src="https://m.media-amazon.com/images/I/41J1gnSh3tL.jpg" alt="audio player">
            </div>
            <div>
                <audio id="audio" src="assets/audio/ek kahani aisi bhi.mp3" type="audio/mp3" controls></audio>
            </div>
        </div>
    </div>
</section> 

<!--Section 2 End here-->

<!--Section 3 Start here-->

<section id="con1">                          
    <div id="c1mian">
        <div id="c1left">
            <div id="bw1">
                <a href="https://www.storytel.com/in">
                    <img src="https://shubhambooksonline.com/cdn/shop/files/chatrapati-shivaji-maharaj-i-krushnarao-arjun-keluskar-i-marathi-original-imagsahwewfw5dvg.webp?v=1701415702" alt="img1" id="b1">
                </a>
                <a href="">
                    <img src="https://cdn.exoticindia.com/images/products/original/books-2019/mzx022.jpg" alt="img1" id="b2">
                </a>
            </div>
            <div id="bw2">
                <a href="">
                    <img src="https://m.media-amazon.com/images/I/91ADDkL3WyL._AC_UF1000,1000_QL80_.jpg" alt="img1" id="b3">
                </a>
                <a href="">
                    <img src="https://m.media-amazon.com/images/I/7195kPS7drL._AC_UF1000,1000_QL80_.jpg" alt="img1" id="b4">
                </a>
            </div>
        </div>
        <div id="c1right">
            <div id="conright">
                <h1>Storytel Original</h1>
                <p>Discover unique stories only availavble on storytel.Choose amont celebrated series,captivating fiction,or pulse-<br>raising crime</p>
                <button id="con-sub">Subscribe now</button>
            </div>
        </div>
    </div>
</section>

<!--Section 3 Ends-->

<section id="adds">
    <div id="c2left">
        <div id="con-left">
            <h1>Anytime, anywhere</h1>
            <p>Read in bed - listem on the go.Download audiobooks and e-books ofline on your favarite devices.</p>
            <button id="con-sub">Subscribe now</button>
        </div>
    </div>
    <div id="c2right">
        <img src="https://images.unsplash.com/photo-1588131153911-a4ea5189fe19?q=80&w=1481&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="music instrument">
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col-6 bg-primary"></div>
        <div class="col-6 bg-secondary"></div>
    </div>
</div>